---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { formatArabicDate } from "../../lib/dates";
import Layout from "../../layouts/Layout.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: {
      slug: post.slug, // slug = "2023/10/my-first-post"
    },
    props: { post },
  }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <article>
    <h1>{post.data.title}</h1>
    <div class="meta">
      <time datetime={post.data.pubDate.toISOString()}>
        {formatArabicDate(post.data.pubDate)}
      </time>
      <div class="tags">
        {post.data.tags.map((tag) => <span class="tag">{tag}</span>)}
      </div>
    </div>

    <Content />
  </article>
</Layout>
