---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import Head from "./Head.astro";
import FlowbiteInit from "../components/FlowbiteInit.astro";
import { SITE } from "../config/site";
interface Props {
  title?: string;
  description?: string;
  lang?: string;
  url?: string;
  image?: string;
  dir?: "ltr" | "rtl";
  post?: any;
}

const {
  title = SITE.title,
  description = SITE.description,
  image = SITE.defaultImage,
  url = SITE.url,
  lang = "ar",
  dir = "rtl",
  post,
} = Astro.props as Props;
---

<!doctype html>
<html lang={lang} dir={dir}>
  <Head
    title={title}
    description={description}
    image={image}
    url={url}
    post={post}
  />
  <body
    class="m-0 p-0 bg-snow-white dark:bg-dark-navy min-h-screen flex flex-col"
  >
    <header class="flex-shrink-0"><Navbar /></header>
    <main class="flex-grow">
      <slot />
      <!-- This is where your page content goes -->
    </main>

    <footer class="flex-shrink-0 bg-gray-100 dark:bg-gray-800">
      <Footer />
    </footer>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.2.0/flowbite.min.js"
    ></script>
    <FlowbiteInit />
  </body>
</html>
